body {
  margin: 0;
  padding: 2rem;
  line-height: normal;
  background-color: var(--oldlace);
}

/* Typography */

h1 {
  font-family: "League Spartan", sans-serif;
  font-size: var(--h1);
  color: var(--midnightblue);
}
h2 {
  font-family: "League Spartan", sans-serif;
  font-size: var(--h2);
  color: var(--midnightblue);
}
h3 {
  font-family: "League Spartan", sans-serif;
  font-size: var(--h3);
  color: var(--midnightblue);
}
h4 {
  font-family: "League Spartan", sans-serif;
  font-size: var(--h4);
  color: var(--midnightblue);
}
h5 {
  font-family: "Press Start 2P", system-ui;
  font-size: var(--h5);
  color: var(--midnightblue);
  letter-spacing: 5px;
}
p {
  font-family: "Alata", sans-serif;
  color: var(--midnightblue);
}
ul,
li,
a {
  font-family: "Alata", sans-serif;
  list-style: none;
  color: var(--midnightblue);
  text-decoration: none;
}
li:hover {
  color: var(--oldlace);
}
a:hover {
  color: var(--palevioletred);
}

:root {
  /* Color */
  --gray: #fffefc;
  --mediumpurple: #b183e6;
  --midnightblue: #3d166a;
  --oldlace: #fff5e7;
  --palevioletred: #e072ad;
  --papayawhip: #ffedd5;
  --sandybrown: #ffb657;
  --snow: #fefbfd;

  /* BorderRadius */
  --br-20: 20px;
  --br-30: 30px;

  /* FontSize */ /* make responsive to accom bigger screens - use clamp */
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.3rem;
  --h4: 0.5rem;
  --h5: 0.5rem;

  /* Borders */
  --border-1: solid 2px var(--midnightblue);

  /* Shadows */
  --shadow-drop: 0px 7px 0px -2px var(--midnightblue);
}
