---
import Layout from "../layouts/Layout.astro";
import Praktikant from "../elements/Praktikant.astro";
import Projekt from "../elements/Projekt.astro";
---

<Layout title="Marie Jensen" meta="Velkommen til mit digitale portfolio">
  <Praktikant />
  <div id="space"></div>

  <Projekt />
</Layout>

<style>
  #space {
    padding: 2rem;
  }
</style>
