---
import Layout from "../layouts/Layout.astro";
import Praktikant from "../elements/Praktikant.astro";
import Projekt from "../elements/Projekt.astro";
---

<Layout title="Marie Jensen" meta="Velkommen til mit digitale portfolio">
  <section id="Praktikanten">
    <Praktikant />
  </section>
  <div id="space"></div>
  <section id="Projekter">
    <Projekt />
  </section>
</Layout>

<style>
  #space {
    padding: 2rem;
  }
</style>
