---
import KontaktInfoCard from "../components/KontaktInfoCard.astro";
import FooterImgCard from "../components/FooterImgCard.astro";
---

<article>
  <h1>Kontakt mig her</h1>
  <div class="sbs">
    <div class="kontakt">
      <KontaktInfoCard sted="Email" variant="gul" link="mailto:mariewpj@gmail.com" kontakt="Mariewpj@gmail.com" />
      <KontaktInfoCard sted="Telefonnummer" variant="rosa" link="tel:+4529176648" kontakt="29 17 66 48" />
      <KontaktInfoCard sted="LinkedIn" variant="lilla" link="https://www.linkedin.com/in/marie-jensen-031603222/" kontakt="in/marie-jensen-031603222/" />
    </div>
    <img src="/media/image_me.png" alt="" />
  </div>
</article>

<style>
  img {
    border-radius: 20px;
    border: var(--border-1);
    box-shadow: var(--shadow-drop);
  }
  .sbs {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 5rem;

    padding: 5%;
    border-radius: 20px;
    border: var(--border-1);
    box-shadow: var(--shadow-drop);

    overflow-block: hidden;

    width: fit-content;
  }

  .kontakt {
    display: grid;
    gap: 3rem;
  }

  @media (max-width: 900px) {
    .sbs {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      gap: 5rem;

      padding: 5%;
      border-radius: 20px;
      border: var(--border-1);
      box-shadow: var(--shadow-drop);

      overflow-block: hidden;

      width: fit-content;
    }

    .sbs.img {
      display: none;
    }

    .kontakt {
      display: grid;
      gap: 3rem;
    }
  }
</style>
