---
import ProjektImgCard from "../components/ProjektImgCard.astro";
---

<section>
  <ProjektImgCard img="/media/Gif_ToDo.gif" desc="" />
  <ProjektImgCard img="/media/Gif_Net.gif" desc="" />
  <ProjektImgCard img="/media/Gif_RKOS.gif" desc="" />
</section>

<style>
  /** mobile **/

  /** desktop **/

  @media (min-width: 860px) {
  }
</style>
