---

---

<article>
  <h5>Kreativ akademikar</h5>
  <div class="cirkel">
    <div class="filled"></div>
  </div>
</article>

<style>
  /** mobile **/

  article {
    display: grid;
    grid-template-columns: 9fr 1fr;
    gap: 1rem;

    padding: 20px;
    border-radius: 20px;
    border: var(--border-1);
    box-shadow: var(--shadow-drop);
    background-color: var(--palevioletred);
    align-content: center;
    justify-content: center;
  }

  h5 {
    align-self: center;
  }
  .cirkel {
    display: grid;
    background-color: var(--oldlace);
    border-radius: 40px;
    border: var(--border-1);
    width: 20px;
    height: 20px;
    align-content: center;
    justify-content: center;
  }

  .filled {
    border: var(--border-1);
    background-color: var(--sandybrown);
    border-radius: 40px;

    width: 10px;
    height: 10px;
  }

  /** desktop **/

  @media (min-width: 860px) {
  }
</style>
