---

---

<article class="kompetencer">
  <h5>Kompetencer</h5>

  <div class="l_r">
    <div class="left">
      <h3>Kodning</h3>
      <ul class="gestaltlove-brugeradfrd-bruge-container">
        <li class="gestaltlove">HTML</li>
        <li class="gestaltlove">CSS</li>
        <li class="gestaltlove">javaScript</li>
        <li class="gestaltlove">Astro</li>
        <li class="gestaltlove">Tailwind CSS</li>
        <li class="gestaltlove">REACT</li>
        <li class="gestaltlove">next.js</li>
        <li class="gestaltlove">GitHub</li>
        <li class="gestaltlove">API</li>
      </ul>
    </div>

    <div class="right">
      <h3>Design</h3>
      <ul class="gestaltlove-brugeradfrd-bruge-container">
        <li class="gestaltlove">Gestaltlove</li>
        <li class="gestaltlove">Brugeradfærd Brugeroplevelse</li>
        <li class="gestaltlove">User Experience</li>
        <li class="gestaltlove">User Interface</li>
        <li class="gestaltlove">Figma</li>
        <li class="gestaltlove">Cancva</li>
        <li class="gestaltlove">Adobe illustrator</li>
        <li class="gestaltlove">Premiere Pro</li>
      </ul>
    </div>
  </div>
</article>

<style>
  /** mobile **/

  .kompetencer {
    padding: 20px;
    border-radius: 20px;
    border: var(--border-1);
    box-shadow: var(--shadow-drop);
  }

  .l_r {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  ul,
  li {
    padding: 0;
    margin: 0;
  }

  .left {
  }
  .right {
    text-align: right;
  }

  /** desktop **/

  @media (min-width: 860px) {
  }
</style>
