---

---

<article class="profil">
  <h5>Profil</h5>
  <h3>Hvem er jeg?</h3>
  <p>
    Kreativ, nysgerrig og engageret. <br />
    Jeg er en positiv og åben person, som værdsætter samarbejde, fællesskab og gode relationer. Nye opgaver og udfordringer mødes med høj energi og et smil, og problemløsning struktureret og detaljeorienteret. <br />
    Jeg vil lære, så jeg kan bidrage.
  </p>
</article>

<style>
  /** mobile **/
  .profil {
    padding: 20px;
    border-radius: 20px;
    border: var(--border-1);
    box-shadow: var(--shadow-drop);
  }

  /** desktop **/

  @media (min-width: 860px) {
  }
</style>
